.sidebar {
  background-color: var(--primary-dark-color);
  width: 250px;
  height: 84.3vh;
  padding: 2rem 1rem;
  box-sizing: border-box;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .menu-title {
      color: var(--font-color-white);
      text-align: center;
    }

    .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .menu-item {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px 24px;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition:
          background 0.3s,
          color 0.3s;

        &:hover {
          background-color: var(--background-color-grey);

          .label {
            color: var(--primary-light-color);
          }

          .icon {
            color: var(--primary-light-color);
          }
        }

        &.active {
          background-color: var(--background-color-white);

          .label,
          .icon {
            color: var(--primary-light-color);
          }

          font-weight: bold;
        }
      }

      .icon {
        color: var(--icon-color);
        font-size: 1.3rem;
        width: 1.5rem;
        text-align: center;
      }

      .label {
        font-family: var(--font-family-p);
        font-size: var(--font-size-p);
        color: var(--font-color-white);
      }
    }
  }
}

@media (max-width: 900px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: var(--primary-dark-color);
    width: 100vw;
    height: fit-content;
    padding: 0;
    box-sizing: border-box;

    .menu {
      display: flex;
      width: 100%;

      .menu-title {
        display: none;
      }

      .menu-list {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row;
        gap: 0;
        justify-content: center; //todo: à changer quand dark ok

        .menu-item {
          display: flex;
          width: 33%; //todo: à changer quand dark ok
          align-items: center;
          flex-direction: column;
          gap: 4px;
          padding: 8px 16px;
          border-radius: 0;
          transition:
            background 0.3s,
            color 0.3s;

          .label {
            font-size: 12px;
          }
        }
      }
    }
  }
}
