<aside class="sidebar">
  <nav class="menu">
    <h2 class="menu-title">Mon espace</h2>

    <ul class="menu-list">
      <li class="menu-item" routerLink="/profile/association/activities" tabindex="1" routerLinkActive="active">
        <i class="fas fa-user-circle icon"></i>
        <span class="label">Activités</span>
      </li>
      <li class="menu-item" routerLink="/profile/association/profile" tabindex="2" routerLinkActive="active">
        <i class="fas fa-id-badge icon"></i>
        <span class="label">Profil</span>
      </li>
      <li class="menu-item" routerLink="/profile/association/security" tabindex="3" routerLinkActive="active">
        <i class="fas fa-lock icon"></i>
        <span class="label">Sécurité</span>
      </li>
      <li class="menu-item" routerLink="/profile/association/settings" tabindex="4" routerLinkActive="active">
        <i class="fas fa-sliders-h icon"></i>
        <span class="label">Préférences</span>
      </li>
    </ul>
  </nav>
</aside>
