.sidebar {
  background-color: var(--primary-dark-color);
  width: 250px;
  height: 85vh;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-title {
  color: var(--font-color-white);
  text-align: center;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s;

  .icon {
    color: var(--icon-color);
    font-size: 1.3rem;
    width: 1.5rem;
    text-align: center;
  }

  .label {
    font-family: var(--font-family-p);
    font-size: var(--font-size-p);
    color: var(--font-color-white);
  }

  &:hover {
    background-color: var(--background-color-grey);

    .label {
      color: var(--primary-light-color);
    }

    .icon {
      color: var(--primary-light-color);
    }
  }

  &.active {
    background-color: var(--background-color-white);

    .label,
    .icon {
      color: var(--primary-light-color);
    }

    font-weight: bold;
  }
}
