.activity-details-page {
  display: flex;
  height: 80vh;
  position: relative;

  .navigation {
    position: absolute;
    right: 18%;
    top: 2%;
    z-index: 1;

    @media screen and (max-width: 900px) {
      right: 5%;
    }

    @media screen and (max-width: 768px) {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      top: 2%;
      width: fit-content;
    }
  }

  .activity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .association-messages {
    width: 50%;
    height: 100%;
  }

  .association {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .messages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    @media screen and (max-width: 768px) {
      margin-bottom: 32px;
      width: 100vw;
    }
  }

  .show-messages {
    .association {
      display: none;
    }
  }

  .show-association {
    .messages {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    .hidden {
      display: none;
    }

    .activity {
      width: 100%;
    }

    .association-messages {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    height: 100%;
  }
}
