.activity-details-page {
  display: flex;
  height: 80vh;

  .activity {
    width: 50%;
    height: 100%;
    border: 1px solid black;
  }

  .association {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
}
