.report-details-modal {
  .report {
    display: flex;
    flex-direction: column;
    width: 80vw;
    overflow-y: auto;
    max-height: 60vh;
    padding: 0 1rem 1rem 1rem;
    @media (max-width: 768px) {
      width: 100vw;
    }

    h1 {
      color: var(--primary-dark-color);
      align-self: center;
      margin: 0;
    }

    .report-in-progress {
      padding: 0 1rem 1rem 1rem;

      .report-in-progress-details {
        display: flex;
        gap: 1rem;
        @media (max-width: 1200px) {
          flex-wrap: wrap;
          gap: 0;
        }

        .title-report {
          min-height: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h3 {
          color: var(--primary-light-color);
        }

        .reporter-section,
        .admin-section {
          width: 50%;
          padding: 1rem;
          @media (max-width: 1200px) {
            width: 100%;
          }
        }
      }
    }

    .commentary-section {
      height: 165px;
      border: 1px solid var(--background-color-grey);
      padding: 1rem;
      overflow-y: auto;
      border-radius: var(--border-radius);
    }
  }

  .previous-report {
    padding: 1rem;

    h3 {
      color: var(--primary-light-color);
    }

    .previous-report-content {
      display: flex;
      justify-content: center;
      gap: 5rem;
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
        gap: 2rem;
      }

      .table-previous-reports {
        width: 60%;
        height: 18rem;
        overflow-y: auto;

        @media (max-width: 1200px) {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}
