.add-photo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  width: 100%;
  justify-content: center;

  .photo-box {
    position: relative;
    background-color: white;
    border: 1px dashed black;
    padding: 3rem 3rem 2rem 3rem;

    &:hover {
      border: 1px solid black;
      cursor: pointer;
    }

    .fa-solid {
      font-size: 10rem;
      color: var(--primary-light-color);
    }

    .fa-plus {
      font-size: 5rem;
      position: absolute;
      top: 5px;
      left: 15px;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 8px;
      max-height: 150px;
    }

    h3 {
      padding-top: 15px;
      font-weight: 400;
    }
  }

  .input-import-image {
    display: none;
  }
}
