.logo-wrapper {
  position: relative;
  display: flex;
  cursor: pointer;

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  .global-badge-menu {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .menu-list {
    position: absolute;
    top: 35px;
    right: 20px;
    background: var(--primary-dark-color);
    list-style: none;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 275px;
    z-index: 10000;

    .menu-item {
      padding: 10px 20px;
      cursor: pointer;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 32px;
      border-radius: 4px;
      color: var(--font-color-white);
      transition: all 0.2s ease-in-out;

      &:hover {
        background: var(--primary-light-color);
      }

      i {
        width: 16px;
        display: flex;
        justify-content: center;
      }

      .menu-item-content {
        display: flex;
        align-items: center;
        gap: 32px;
        width: 100%;
        color: var(--font-color-white);

        .badge-and-caret {
          display: flex;
          flex-grow: 1;
          justify-content: flex-end;
          gap: 5px;
        }

        .caret-icon {
          font-size: 14px;
          align-self: end;
          display: flex;
          justify-content: end;
        }
      }
    }

    .sub-menu {
      background: var(--background-color-white);
      color: var(--primary-dark-color);

      .sub-menu-item {
        padding: 10px 20px 10px 32px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: var(--primary-dark-color);
        transition: all 0.2s ease-in-out;

        &:hover {
          background: var(--primary-light-color);
          color: var(--background-color-white);
        }
      }
    }

    app-badge {
      display: flex;
      align-items: center;
    }
  }
}
