.logo-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }

  .menu-list {
    position: absolute;
    top: 35px;
    right: 20px;
    background: var(--primary-dark-color);
    color: white;
    list-style: none;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 160px;
    z-index: 100;
    .menu-item {
      padding: 10px 15px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;

      &:hover {
        background: var(--primary-light-color);
      }
    }
  }
}
