footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-light-color);
  color: var(--background-color-white);

  .links-asso {
    display: flex;
    width: 50%;
    gap: 2%;
  }

  .social-networks {
    display: flex;
    gap: 20%;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    img {
      width: 25px;
      object-fit: contain;
    }
  }
}
