<form class="input-wrapper" [formGroup]="formGroup">
  <div class="search-container">
    @for (field of inputConfigs; track field.label; let i = $index; let isLast = $last) {
      <div class="input-container">
        <div class="field-group">
          <p-inputGroup>
            @if (field.type === 'date') {
              <p-iftalabel class="custom-iftalabel calendar-wrapper" [ngClass]="{ focused: focusedIndex === i }">
                <p-calendar
                  [id]="'input-' + i"
                  [formControlName]="field.name"
                  (onFocus)="focusedIndex = i"
                  (onBlur)="focusedIndex = null"
                  [inputId]="'input-' + i"
                  [placeholder]="field.placeholder"
                  [showIcon]="true"
                  inputStyleClass="custom-calendar-input"
                  dateFormat="dd/mm/yy" />
                @if (field.value) {
                  <button class="clear-btn" type="button" (click)="clearInput(i)">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                }
                <label [for]="'input-' + i">{{ field.label }}</label>
              </p-iftalabel>
            } @else {
              <p-iftalabel class="custom-iftalabel">
                <input pInputText [id]="'input-' + i" [placeholder]="field.placeholder" [type]="field.type" [formControlName]="field.name" />

                @if (field.value) {
                  <button class="clear-btn" type="button" (click)="clearInput(i)">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                }
                <label [for]="'input-' + i">{{ field.label }}</label>
              </p-iftalabel>
            }
          </p-inputGroup>
        </div>

        @if (!isLast) {
          <div class="separator"></div>
        }
      </div>
    }
  </div>

  @if (showSearchButton) {
    <button pButton type="submit" class="search-button" (click)="emitValues()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  }
</form>
