<div class="container">
  <p-dialog [(visible)]="visible" [modal]="true" (onHide)="hide()">
    <ng-template #header>
      <div class="header">
        @if (userAvatar$ | async; as userAvatar) {
          <p-avatar [image]="userAvatar" shape="circle" />
        }
        <h3 class="header-title">Modifier le mot de passe</h3>
      </div>
    </ng-template>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="space-y-4">
      @for (field of passwordFields; track field.name) {
        <app-input-field [formGroup]="passwordForm" [fieldConfig]="field" [variant]="'in'" [useIftaLabel]="true"> </app-input-field>

        <app-input-field-error
          [control]="passwordForm.get(field.name)"
          [fieldName]="field.name"
          [showPasswordMismatchError]="
            field.name === 'confirmPassword' && passwordForm.hasError('passwordsMismatch') && passwordForm.get('confirmPassword')?.touched
          ">
        </app-input-field-error>
      }
    </form>

    <ng-template #footer>
      <p-button label="Annuler" [text]="true" severity="secondary" (click)="hide()" />
      <button pButton type="submit" class="register-btn" [disabled]="passwordForm.invalid" (click)="onSubmit()">Envoyer</button>
    </ng-template>
  </p-dialog>
</div>
