.asso-profile-container {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .profile-content {
    width: 100%;
    @media screen and (max-width: 1200px) {
      width: 80%;
    }
    @media screen and (max-width: 1000px) {
      width: 75%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
