<p-tabs [(value)]="activeTabValue">
  <p-tablist class="tabs_wrapper">
    @for (tab of tabs; track $index) {
      <div class="tab-container">
        <p-tab [value]="$index" (click)="updateNavigation($index)">
          {{ tab.name }}
        </p-tab>
        @if (tab.badgeValue) {
          <div class="badge-toggle-menu">
            <app-badge [badgeValue]="tab.badgeValue" [isWhite]="$index === activeTabValue"></app-badge>
          </div>
        }
      </div>
    }
  </p-tablist>
</p-tabs>
