.form-benevole,
.form-association {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .form-field,
  & {
    display: flex;
    flex-direction: column;
  }

  .submit-button {
    display: flex;
    justify-content: center;
    margin: 8px 0;

    .register-btn {
      padding: 8px 16px;
      font-weight: bold;
    }
  }

  .address-fields {
    width: 100%;
  }
}
