.activity-menu-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .activity-menu-header {
    width: fit-content;
    padding: 16px;
    @media screen and (max-width: 768px) {
      align-self: center;
      padding: 16px 0;
    }
    .activity-menu-title {
      color: var(--primary-dark-color);
      margin: 0 0 16px;
    }
  }
}
