.activities-home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--background-color-light);
  width: 90vw;
  height: 85vh;
  margin: auto;
  position: relative;

  .search-activities {
    height: 20%;
    width: 100%;
  }

  .cards-and-map {
    display: flex;
    width: 100%;
    height: 70%;
    gap: 2vw;

    .cards-activities {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      height: 100%;
      padding-bottom: 80px;
      box-sizing: border-box;
      overflow-y: auto;
      overflow-x: visible;
    }

    .map-activities {
      width: 50%;
      flex-grow: 1;
      height: 60vh;
    }

    @media screen and (max-width: 901px) {
      .hidden {
        display: none;
      }

      .cards-activities {
        width: 100%;
      }
    }
  }

  .switch-map {
    display: none;
  }

  @media screen and (max-width: 901px) {
    .switch-map {
      display: initial;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
