<div class="activities-home">
  <div class="search-activities">
    <app-activity-filter (selectedThemes)="onSelectedThemeChanges($event)"></app-activity-filter>
  </div>

  <div class="cards-and-map">
    <div class="cards-activities" [ngClass]="chosenNavigation !== 'Liste' ? 'hidden' : ''">
      <!-- skeletons for loading -->
      @if (!(activities$ | async)?.length) {
        <app-activity-skeleton></app-activity-skeleton>
        <app-activity-skeleton></app-activity-skeleton>
      } @else {
        @for (activity of filteredActivities$ | async; track activity.id) {
          <app-activity-card [activity]="activity"></app-activity-card>
        } @empty {
          <p>Aucuns résultats ne correspond à vos filtres</p>
        }
      }
    </div>

    <div class="map-activities" [ngClass]="chosenNavigation !== 'Carte' ? 'hidden' : ''">
      <app-map [filteredActivities$]="filteredActivities$"></app-map>
    </div>
  </div>

  <div class="switch-map">
    <app-toggle-menu [tabs]="navigationItems" (chosenTab)="handleNavigation($event)"></app-toggle-menu>
  </div>
</div>
