// TODO : SUPPRIMER CE FICHIER

.input-demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px 0;
  gap: 25px;

  h3 {
    color: var(--primary-light-color);
  }
}
