p-card {
  width: 37.5rem;
  display: block;
  margin: 0 auto;
  overflow: hidden;

  ::ng-deep .p-card-header {
    // images size in database : 800 * 640 px
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.15),
      0 3px 10px rgba(0, 0, 0, 0.05);

    .activity-image {
      display: block;
      width: 100%;
      height: 30vh;
      object-fit: cover;

      filter: brightness(80%);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .social {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      align-items: center;
      height: 4rem;
      background-color: var(--background-color-grey);

      .link {
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .follow-report-section {
        display: flex;

        ::ng-deep .p-button {
          display: flex;
          flex-direction: column;
          gap: 0;
          height: 100%;
          background: none;
          border: none;
          color: var(--primary-light-color);

          i:hover {
            transform: scale(1.1);
            cursor: pointer;
          }

          p {
            margin: 0;
            padding: 4px;
          }
        }
      }
    }
  }

  ::ng-deep .p-card-subtitle {
    h3 {
      width: 100%;
      text-align: left;
      color: var(--font-color-grey);
      font-weight: 400;
    }
  }

  ::ng-deep .p-card-title {
    display: flex;
    gap: 4px;
    align-items: center;

    #association-name {
      color: var(--primary-dark-color);
      font-weight: bold;
    }

    .activity-logo {
      width: 1vw;
    }
  }

  ::ng-deep .p-card-content {
    p {
      height: 48px;
    }
  }

  ::ng-deep .p-card-footer {
    h3 {
      width: 100%;
      text-align: center;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .statistics-container {
      /* Correct class */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;

      p {
        margin: 0;
      }

      .statistic {
        width: 33%;
        text-align: center;

        .description {
          height: 48px;
        }

        .value {
          color: var(--primary-dark-color);
          font-weight: bold;
        }
      }
    }
  }
}
