:host ::ng-deep {
  .register-modal {
    max-width: 650px;
    min-height: 92vh;
    width: 100%;

    .p-dialog-header {
      position: relative;
      padding: 16px;
      font-weight: 600;
      color: var(--primary-dark-color);

      .p-dialog-title {
        margin: auto;
      }

      .p-dialog-close-button {
        position: absolute;
        top: 5%;
        right: 1%;
      }
    }

    .p-dialog-content {
      padding: 0;
    }

    .p-inputtext {
      width: 100%;
    }
  }

  app-input-field {
    display: block;
    margin-bottom: 0;
    width: 100%;
  }

  .p-password-panel,
  .p-calendar .p-datepicker {
    z-index: 1100 !important;
  }

  .form-container {
    padding: 0px 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
  }

  .user-type-selector {
    display: flex;
    align-items: center;
    gap: 1rem;

    .selector-label {
      font-weight: bold;
      font-size: 1rem;
    }

    .selector-buttons {
      flex-grow: 1;
      min-width: 100px;
    }
  }

  /* ✅ Style pour CGU + RGPD */
  .legal-section {
    font-size: 0.85rem;
    color: #555;
    margin-top: 12px;

    a {
      color: var(--primary-color);
      text-decoration: underline;
    }

    .checkbox-container {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 8px;

      input[type='checkbox'] {
        width: 18px;
        height: 18px;
      }
    }
  }
}
