:host ::ng-deep {
  .register-modal {
    max-width: 650px;
    height: 88vh;
    width: 100%;

    .p-dialog-header {
      position: relative;
      padding: 16px;
      font-weight: 600;
      color: var(--primary-dark-color);

      .p-dialog-title {
        margin: auto;
      }

      .p-dialog-close-button {
        position: absolute;
        top: 5%;
        right: 1%;
      }
    }

    .p-dialog-content {
      padding: 0;
    }

    .p-inputtext {
      width: 100%;
    }
  }

  app-input-field {
    display: block;
    margin-bottom: 0;
    width: 100%;
  }

  .p-password-panel,
  .p-calendar .p-datepicker {
    z-index: 1100 !important;
  }

  .form-container {
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
  }

  .user-type-selector {
    display: flex;
    align-items: center;
    gap: 1rem;

    .selector-label {
      font-weight: bold;
      font-size: 1rem;
    }

    .selector-buttons {
      flex-grow: 1;
      min-width: 200px;
    }
  }
}
