label {
  font-size: 14px;
  color: var(--font-color);
  pointer-events: none;
  transition: color 0.2s ease;

  &:focus,
  &:hover,
  &:active {
    outline: none;

    ~ label {
      color: var(--primary-light-color);
      transition: color 0.2s ease;
    }
  }
}

textarea {
  width: 100%;
  font-size: 16px;
  max-width: 960px;
  background-color: var(--background-color-white);
  border-radius: 8px;
  border: none;
  color: black;
  resize: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:focus,
  &:hover,
  &:active {
    outline: none;
    border: none;
  }

  &::placeholder {
    color: var(--font-color-grey);
    font-size: 14px;
  }
}
