<!--<div [ngClass]="darkMode ? 'dark-mode' : ''">-->
<!--  <div class="page">-->
<!--    <h1>I love Piloutre</h1>-->

<!--    &lt;!&ndash;   TODO : à supprimer quand le dark mode sera opérationnel   &ndash;&gt;-->
<!--    <div class="card flex justify-center">-->
<!--      <p-button label="Check" (click)="changeMode()" />-->
<!--    </div>-->
<!--  </div>-->
<div class="page">
  <p-toast></p-toast>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <div class="push-footer"></div>
  <app-footer></app-footer>
</div>
<!--</div>-->
