.page {
  background-color: var(--background-color-light);
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;

  .spacer {
    flex-grow: 1;
  }
}
