<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-association">
  @for (field of fields; track $index) {
    <div class="form-field">
      <app-input-field [label]="field.label" [type]="field.type" [formControlName]="field.name" />
      <app-input-field-error [control]="form.get(field.name)" [fieldName]="field.name" />
    </div>
  }
  @for (field of authFields; track $index) {
    <div class="form-field">
      <app-input-field
        [label]="field.label"
        [type]="field.type"
        [formControlName]="field.name"
        [showPasswordRules]="field.showPasswordRules || false" />

      <app-input-field-error
        [control]="form.get(field.name)"
        [fieldName]="field.name"
        [showPasswordMismatchError]="
          field.name === 'confirmationMotDePasse' && form.errors?.['passwordsMismatch'] && form.get('confirmationMotDePasse')?.touched
        " />
    </div>
  }

  <div class="address-fields">
    @for (field of addressFields; track $index) {
      <div class="address-field">
        <app-input-field [label]="field.label" [type]="field.type" [formControlName]="field.name" />
        <app-input-field-error [control]="form.get(field.name)" [fieldName]="field.name" />
      </div>
    }
  </div>

  <div class="submit-button">
    <button pButton type="submit" class="register-btn" [disabled]="form.invalid">S'enregistrer</button>
  </div>
</form>
