.filter-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: var(--primary-dark-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }

    &:hover {
      background: var(--primary-light-color);
    }

    @media screen and (max-width: 900px) {
      top: 42.5%;
    }
  }

  @media screen and (min-width: 1441px) {
    .scroll-btn {
      display: none !important;
    }
  }

  .filter-scroll {
    flex: 1;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }

  .filter-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    padding: 16px 8px;
    min-width: max-content;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 900px) {
      margin-bottom: 16px;
    }
  }
}
