<div class="filter-container">
  <div id="filter-input"></div>
  <div class="filter-buttons">
    @for (theme of themes$ | async; track $index) {
      <app-single-button
        [id]="$index"
        (buttonClicked)="updateSelectedThemes($event)"
        [styleClass]="selected.includes(theme.name) ? 'defaultWhite selected' : 'defaultWhite'"
        [label]="theme.name"
        [icon]="theme.iconUrl"
        [ariaLabel]="'bouton de thème ' + theme.name"
        size="large">
      </app-single-button>
    }
  </div>
</div>
