<div class="settings-container">
  <h1 class="settings-title">Préférences</h1>

  <div class="settings-table">
    <div class="row">
      <span class="label">Notifications</span>
      <span class="value email"
        >Par e-mail
        <p-toggleswitch [(ngModel)]="isEmailChecked"></p-toggleswitch>
      </span>
    </div>

    <div class="row">
      <span class="label">Thème utilisateur</span>
      <span class="value theme">
        <p [class.active]="!isThemeChecked">Clair</p>
        <p-toggleswitch [(ngModel)]="isThemeChecked" (ngModelChange)="toggleTheme()"></p-toggleswitch>
        <p [class.active]="isThemeChecked">Sombre</p>
      </span>
    </div>
  </div>
</div>
