.settings-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  width: 100%;
  height: 75%;

  h1.settings-title {
    margin: 0 0 16px 0;
    color: var(--primary-dark-color);

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }

  .settings-table {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 24px;
      border: 1px solid var(--background-color-grey);
      border-radius: 12px;
      background: var(--background-color-white);
      box-shadow: var(--box-shadow-light);

      .label {
        font-weight: 600;
        color: var(--primary-light-color);
        flex: 1;
        padding: 0 8px;
      }

      .value {
        flex: 2;
        color: var(--font-color);
        padding: 0 8px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 8px;

        &.email {
          margin-right: 70px;
          @media (max-width: 768px) {
            margin-right: 0;
          }
        }

        &.theme {
          display: flex;
          align-items: center;
          justify-content: right;
          gap: 16px;

          p {
            opacity: 0.5;
            transition: opacity 0.2s;
            margin: 0;

            &.active {
              opacity: 1;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .settings-table .row {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;

    .action {
      justify-content: center;
    }

    .value {
      flex-direction: column;
    }
  }
}
