.card-wrapper {
  overflow: visible;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  ::ng-deep .p-card {
    background-color: var(--background-color-white);
  }

  .card {
    width: 95%;
    min-width: 300px;
    max-width: 380px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
      transform: scale(1.01);
      z-index: 10;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    img.activity-image {
      height: 200px;
      object-fit: cover;
      width: 100%;
      filter: brightness(80%);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .header-description {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: var(--primary-dark-color);
        font-weight: 400;
        height: 52px;
        display: flex;
        align-items: center;
      }
    }

    p {
      color: var(--font-color);
    }

    .description-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .description {
        height: 10vh;
        margin: 0;
        word-wrap: break-word;
        overflow-wrap: anywhere;
        white-space: normal;
      }

      .info-asso {
        display: flex;
        align-items: center;
        gap: 2%;

        img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .footer-description {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .footer-details {
        display: flex;
        width: 60%;

        .location {
          display: flex;
          align-items: center;
          gap: 10%;
          width: 50%;

          p,
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            max-width: 100%;
          }
        }

        .date {
          display: flex;
          align-items: center;
          width: 50%;
          gap: 10%;
        }
      }
    }

    .delete-btn {
      position: absolute;
      bottom: 15px;
      right: 15px;
      z-index: 1000;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1.5px solid var(--secondary-error-color);
      background: var(--background-color-white);
      color: var(--secondary-error-color);
      transition: all 0.3s ease;

      &:hover {
        background: var(--secondary-error-color);
        background: var(--background-color-white);
        border: 1.5px solid var(--secondary-error-color);
        transform: scale(1.05);
        cursor: pointer;
      }

      &.p-button-danger,
      &.p-button {
        background: transparent !important;
        border: 1.5px solid var(--secondary-error-color) !important;
        color: var(--secondary-error-color) !important;
        box-shadow: none !important;
      }

      &:hover,
      &.p-button-danger:hover,
      &.p-button:hover {
        background: var(--secondary-error-color) !important;
        color: var(--background-color-white) !important;
        border: 1.5px solid var(--secondary-error-color) !important;
      }
    }

    .edit-btn {
      position: absolute;
      bottom: 15px;
      right: 65px;
      z-index: 1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1.5px solid var(--primary-dark-color);
      background: var(--background-color-white);
      color: var(--primary-dark-color);
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      i.pi-pencil {
        color: var(--primary-dark-color);
        font-size: 1.2rem;
      }

      &:hover {
        background: var(--primary-dark-color);
        transform: scale(1.05);
        cursor: pointer;

        i.pi-pencil {
          color: var(--font-color-white);
        }
      }
    }
  }
}
