.card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: var(--background-color-white);

  img {
    object-fit: contain;
  }

  .activity-image {
    width: 100%;
    filter: brightness(80%);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  h3 {
    color: var(--primary-dark-color);
    font-weight: 400;
  }

  p {
    color: var(--font-color);
  }

  .description-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 5% 0 5%;

    .header-description {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .info-asso {
      display: flex;
      align-items: center;
      gap: 2%;

      img {
        width: 25px;
      }
    }

    .push-footer {
      flex-grow: 1;
    }

    .footer-description {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .footer-details {
        display: flex;
        width: 60%;

        .location {
          display: flex;
          gap: 10%;
          width: 50%;
        }

        .date {
          display: flex;
          width: 50%;
          gap: 10%;
        }

        svg {
          width: 12px;
        }
      }
    }
  }
}
