<div class="card">
  <img [src]="activity.image[0]" [alt]="activity.title" />
  <div class="description-card">
    <div class="header-description">
      <h3>{{ activity.title }}</h3>
      <div>Badge volonteers</div>
      <!-- TODO: changer pour le composant réutilisable -->
    </div>
    <div>
      {{ activity.description
      }}<!-- TODO: limiter les caractères -->
    </div>
    <div class="info-asso">
      <img [src]="activity.organization.logo" [alt]="activity.organization.name" />
      <p>{{ activity.organization.name }}</p>
    </div>
    <div class="footer-description">
      <div class="footer-details">
        <div class="location">
          <img src="/activities/location.png" alt="location" />
          <p>{{ activity.location }}</p>
        </div>
        <div class="date">
          <img src="/activities/calendar.png" alt="date" />
          <p>{{ activity.date }}</p>
        </div>
      </div>

      <div>Coeur Favoris</div>
      <!-- TODO: changer pour le composant réutilisable -->
    </div>
  </div>
</div>
