<section class="about-container">
  <h1 class="about-title">À propos</h1>

  <div class="about-info about-wrapper">
    <h2 class="about-subtitle">Informations générales</h2>
    <span class="about-input-wrapper">
      <app-multiple-input-field
        [fieldConfigs]="customFieldConfigs"
        [formGroup]="generalInfoForm"
        [showErrors]="true"
        [showSaveButton]="true"
        (save)="onGeneralInfoSave()">
      </app-multiple-input-field>
    </span>
  </div>

  <div class="about-description about-wrapper">
    <h2 class="about-subtitle">Description de l'association</h2>
    <span class="about-input-wrapper">
      <app-textarea-field
        [id]="'association-description'"
        [rows]="5"
        [cols]="117"
        [maxlength]="500"
        [fieldConfig]="descriptionFieldConfig"
        [formGroup]="descriptionForm"
        [showSaveButton]="true"
        (save)="onDescriptionSave()">
      </app-textarea-field>
    </span>
  </div>

  <div class="about-numbers about-wrapper">
    <h2 class="about-subtitle">Quelques chiffres ( {{ cardsCount }} / 3 )</h2>
    <app-association-stats (cardsCountChanged)="onCardsCountChanged($event)"></app-association-stats>
  </div>
</section>
