@if (activity$ | async; as activity) {
  <section class="activity-description-section">
    <div class="header">
      <div class="title">
        <h1>{{ activity.title }}</h1>
        <app-inscription-badge [participants]="activity.participants"></app-inscription-badge>
      </div>

      <app-favorite-heart [activityId]="activity.id" [isFavorite]="activity.isFavorite"></app-favorite-heart>
    </div>
    <div class="sub-title">
      <p>Le {{ activity.date | date: 'dd/MM/yyyy' }} à {{ activity.date | date: 'HH:mm' }}</p>
      <p>{{ activity.location.city }}</p>
    </div>

    <p>{{ activity.description }}</p>
    <div class="activity-images">
      @for (image of activity.images; track $index) {
        <div class="image-container">
          <img [src]="apiUrl + image" [alt]="activity.title" />
        </div>
      }
    </div>
    <app-single-button
      [id]="1"
      (buttonClicked)="toggleRegister(activity)"
      [styleClass]="activity.isRegistered ? 'unsubscribe' : 'subscribe'"
      [label]="activity.isRegistered ? 'Me désinscrire' : 'Minscrire 🚀'"
      [ariaLabel]="'bouton de ' + activity.isRegistered ? 'désinscription' : 'inscription'">
    </app-single-button>
  </section>
}
