.draft-list {
  padding: 2rem;
  text-align: center;

  .empty-message {
    color: var(--font-color-grey);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .hint {
    color: var(--font-color-grey);
    font-style: italic;
    margin-top: 0.5rem;
  }
}
