.report-admin {
  padding: 3% 4% 3% 4%;
  display: flex;
  flex-direction: column;
  max-height: 80vh;

  @media (max-width: 550px) {
    width: 100vw;
  }

  h1 {
    color: var(--primary-light-color);
  }

  .navigation {
    width: 19rem;
  }

  .report-list {
    padding-top: 4%;
    overflow-y: auto;

    .empty-report {
      display: flex;
      align-items: center;
      padding: 2%;
      gap: 2%;
    }
  }
}
