:host ::ng-deep {
  .register-modal {
    max-width: 600px;
    max-height: 95vh;
    width: 100%;

    .p-dialog-header {
      padding: 16px;
      font-weight: 600;
      color: var(--primary-dark-color);
    }

    .p-dialog-content {
      padding: 0;
    }

    .p-inputtext {
      width: 100%;
    }
  }

  .p-password-panel,
  .p-calendar .p-datepicker {
    z-index: 1100 !important;
  }

  .p-selectbutton {
    .p-button {
      background-color: var(--background-color-white);
      border-color: var(--primary-dark-color);
      color: var(--primary-dark-color);

      &.p-highlight {
        background-color: var(--primary-dark-color);
        border-color: var(--primary-dark-color);
        color: var(--background-color-white);
      }

      &:not(.p-highlight):hover {
        background-color: rgba(19, 103, 138, 0.1);
      }
    }
  }
}

.form-container {
  padding: 32px 64px;
}

.user-type-selector {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  .selector-label {
    font-family: var(--font-family-p);
    font-size: var(--font-size-p);
    color: var(--font-color);
  }

  .selector-buttons {
    flex-grow: 1;
  }
}

.form-benevole,
.form-association {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-fields {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;

  .address-field {
    flex: 1;
    width: 33.33%;
  }
}

.submit-button {
  .register-btn {
    width: 100%;
    background-color: var(--primary-dark-color);
    border-color: var(--primary-dark-color);
    font-weight: 600;

    &:hover {
      background-color: var(--primary-light-color);
      border-color: var(--primary-light-color);
    }
  }
}

:host ::ng-deep app-input-field {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}
