.global-popup {
  h3 {
    color: var(--primary-light-color);
  }

  .activity-popup {
    display: flex;
    cursor: pointer;

    .activity-img {
      width: 150px;
      object-fit: contain;
      margin-right: 1rem;
    }

    .activity-title {
      display: flex;
      justify-content: space-between;
    }

    .activity-description {
      .info-asso {
        display: flex;

        img {
          object-fit: contain;
          width: 25px;
        }
      }
    }

    .footer-description {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .footer-details {
        display: flex;
        width: 60%;

        .location {
          display: flex;
          align-items: center;
          gap: 10%;
          width: 50%;
        }

        .date {
          display: flex;
          align-items: center;
          width: 50%;
          gap: 10%;
        }
      }
    }
  }

  .association-popup {
    cursor: pointer;
    display: flex;

    .association-img {
      object-fit: contain;
      width: 100px;
    }

    .association-content {
      padding: 0 10px 0 20px;
    }
  }
}
