<div class="reset-password-container">
  <h2>Réinitialiser le mot de passe</h2>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form-reset-password">
    @for (field of fields; track field.name) {
      <div class="form-field">
        <app-input-field [fieldConfig]="field" [showPasswordRules]="field.showPasswordRules || false" [formGroup]="resetForm"></app-input-field>

        <app-input-field-error
          [control]="resetForm.get(field.name)"
          [fieldName]="field.name"
          [showPasswordMismatchError]="
            field.name === 'confirmPassword' && resetForm.errors?.['passwordsMismatch'] && resetForm.get('confirmPassword')?.touched
          "></app-input-field-error>
      </div>
    }

    <div class="submit-button">
      <button pButton type="submit" [disabled]="resetForm.invalid">Envoyer</button>
    </div>
  </form>
</div>
