.about-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  @media screen and (max-width: 768px) {
    overflow-y: hidden;
  }

  .about-title {
    color: var(--primary-dark-color);
    margin: 0;
  }

  .about-visual-identity {
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    width: 60%;

    .about-visual-identity-subtitle {
      color: var(--primary-light-color);
      margin-bottom: 16px;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }

    .about-visual-identity-images {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        text-align: center;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 16px;
      }

      .about-image {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .about-subtitle {
      color: var(--primary-light-color);
      margin-bottom: 16px;
    }

    .about-input-wrapper {
      width: 100%;
      max-width: 960px;
    }
  }

  .about-info {
    margin-bottom: 32px;
  }

  .about-number {
    color: var(--primary-dark-color);
    font-weight: bold;
    margin-bottom: 8px;
  }
}
