<section class="about-container">
  <h1 class="about-title">À propos</h1>

  <div class="about-visual-identity">
    <h2 class="about-visual-identity-subtitle">Identité visuelle</h2>
    <div class="about-visual-identity-images">
      <div class="about-image about-wrapper">
        <h3 class="about-subtitle">Logo de l'association</h3>
        <app-upload-avatar [imageUrl]="userAvatar$ | async" type="logo"> </app-upload-avatar>
      </div>

      <div class="about-image about-wrapper">
        <h3 class="about-subtitle">Image de couverture</h3>
        <app-upload-avatar [imageUrl]="associationCover$ | async" type="cover"> </app-upload-avatar>
      </div>
    </div>
  </div>

  <div class="about-info about-wrapper">
    <h2 class="about-subtitle">Informations générales</h2>
    <span class="about-input-wrapper">
      <app-multiple-input-field
        [fieldConfigs]="customFieldConfigs"
        [formGroup]="generalInfoForm"
        [showErrors]="true"
        [showSaveButton]="true"
        (save)="onGeneralInfoSave()">
      </app-multiple-input-field>
    </span>
  </div>

  <div class="about-description about-wrapper">
    <h2 class="about-subtitle">Description de l'association</h2>
    <span class="about-input-wrapper">
      <app-textarea-field
        [id]="'association-description'"
        [rows]="5"
        [cols]="117"
        [maxlength]="200"
        [autosave]="true"
        [fieldConfig]="descriptionFieldConfig"
        [formGroup]="descriptionForm"
        [showSaveButton]="true"
        (save)="onDescriptionSave()">
      </app-textarea-field>
    </span>
  </div>

  <div class="about-numbers about-wrapper">
    <h2 class="about-subtitle">Quelques chiffres ( {{ cardsCount }} / 3 )</h2>
    <app-association-stats (cardsCountChanged)="onCardsCountChanged($event)"></app-association-stats>
  </div>
</section>
