<div class="activity-list">
  @if (activities?.length === 0) {
    <p class="empty-message">Aucune activité à afficher pour le moment.</p>
  } @else {
    <div class="card-container">
      @for (activity of activities; track activity.id) {
        <app-activity-card
          [activity]="activity"
          [showDeleteButton]="true"
          [showEditButton]="showEditButton(activity.date)"
          (deleteActivity)="onDeleteActivity($event)"
          (editActivity)="onEditActivity($event)" />
      }
    </div>
  }
</div>
