// import font family
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

:root {
  // initialization project
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

  // variables for colors
  --backgroundColorLight: #f8f8f8;
  --fontColor: black;

  --primaryDarkColor: #13678a;
  --primaryLightColor: #1385a8;

  --secondaryValidateColor: #36c919;
  --secondaryCompleteColor: #fa8d12;
  --secondaryErrorColor: #d4412d;

  // variables for fonts (size & font families)
  --fontSizeP: 14px;
  --fontSizePMini: 10px;
  --fontSizeBigTitle: 36px; // for H1
  --fontSizeMediumTitle: 22px; // for H2
  --fontSizeSmallTitle: 20px; // for H3

  --fontSizePMobile: 12px;
  --fontSizeBigTitleMobile: 24px;
  --fontSizeMediumTitleMobile: 18px;
  --fontSizeSmallTitleMobile: 16px;

  --fontFamilyP: Roboto, sans-serif;
  --fontFamilyBigMediumTitle: 'Spectral SC', serif;
  --fontFamilySmallTitle: CrimsonText, serif;

  // various variables
  --borderRadius: 5px;
  --boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --greyBorder: 1px solid #d9d9d9;

  // switch colors for dark mode
  .dark-mode {
    --backgroundColorLight: #595959;
    --fontColor: white;
    // TODO: à compléter pour les couleurs de dark mode
  }

  // TODO: ajouter le CSS de la scroll bar

  // common cases CSS
  .card {
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
  }

  .line-box {
    border: var(--borderColor);
  }
}
